<button
  data-test-button={{@label}}
  type="button"
>
  {{#if @icon}}
    <i
      data-test-icon
      aria-hidden="true"
      class="material-icons"
    >
      {{@icon}}
    </i>
  {{/if}}

  <span data-test-label>{{@label}}</span>
</button>